# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variables file
.env

# Ignore IDE specific files
.vscode/
.config/

# Ignore .NET specific files
bin/
obj/
*.sln